[Unit]
Description=MySQL Server
Documentation=man:mysqld(8)
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
ExecStart={{ mysql_install_path }}/mysql/bin/mysqld --defaults-file={{ mysql_install_path }}/mysql/my.cnf
LimitNOFILE = 5000
